name: Deploy Diary Bot

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /root/diary_bot
            git pull origin main
            # Обновляем зависимости из venv, если был изменен requirements.txt
            if [ -f requirements.txt ]; then ./venv/bin/pip install -r requirements.txt; fi
            # Перезагружаем сервис
            systemctl restart diary_bot
            systemctl status diary_bot
